:root {

  --border-color-1: #179D2E;
  --border-color-2: #0177B8;
  --border-color-3: #F5AF23;
  --border-color-4: #F02E2C;
  --title-color: #181833;
  --text-color: #2D2D2D;

}

* {
  box-sizing: border-box;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 350ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &::before {
    transition: background-image 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
label {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  padding: 30px;
  max-width: 1380px;
  background-color: #F8F8F8;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--border-color-1);
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
